{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid" id="hero-jumbotron">
            <div class="container text-center">
                <h1 class="display-4">Welcome to Fifth Taste</h1>
                <p class="lead">Discover that missing flavor in every dish.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center container" id="bio">
            <hr>
            <p>At Fifth Taste, we celebrate the rich and savory essence of
                umami – the often-overlooked "fifth taste" that elevates food
                to a whole new level. <br><br> Our menu is designed to captivate your
                senses, showcasing dishes that highlight the deep, complex
                flavors of this unique taste. From the freshest ingredients to
                innovative cooking techniques, every dish is carefully
                crafted to offer a memorable culinary experience. <br><br> Come
                discover the depth of flavor at Fifth Taste – where every
                bite tells a story.</p>
        </div>
    </div>
{% endblock %}